<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    {% block title %}
    {% endblock %}
</head>
<body>
    <div class="page">
        <div class="menu">
            {% block header %} {% endblock %}
            <a href="/editprofile/">
                <img src="{% static 'prf.jpg' %}" alt="" width="40" height="40">
            </a>
        </div>

        {% block body %} {% endblock %}
    </div>
</body>
</html>