{% extends 'base.html' %}

{% block title %}
{% load static %}
<title>Create new profile</title>
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block header %}
<h1>Add new staff</h1>
{% endblock %}

{% block body %}

<div class="links">
    <a href="/">Back to Home</a>
</div>

<form action="/createnewprofile/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <h3>{{ field.label }}</h3>
    <div>
        {% if field.label == 'Profile picture' %}
        <label for="id_profile_picture">
        {{ field }}
        </label>
        {% else %}
        {{ field }}
        {% endif %}
    </div>
    {% for error in field.errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    {% endfor %}

    <input type="submit" value="Create Profile">
</form>
{% endblock %}